@tailwind components;
@tailwind utilities;
@tailwind base;
body,
#__next {
    height: 100vh;
    /* @apply bg-gray-800 text-white; */
}


/** i hate this and you'll probably hate this too */


/* * {
    border: 1px solid red;
} */

html,
body {
    background: #151515;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}