@tailwind base;
@tailwind components;
@tailwind utilities;


/** i hate this and you'll probably hate this too */
/* * {
    border: 1px solid red;
} */

html,
body {
  /* background: #130f40; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}
